
body{
    overflow-x: hidden;
}

ul.nav {
    display: none !important;
}

.onstream .nav-brand_mod {
    height: 45px;
    text-decoration: none;
    color: #fff;
}

.nav-brand_mod {
    display: block;
    float: left;
    width: 112px;
    height: 63px;
    margin: 0 20px 0 24.5px;
    background-position: center center;
    background-repeat: no-repeat;
}

.nav-brand,
.nav-brand_mod {
    color: #fff;
    overflow: visible;
    margin-left: 24.5px;
    /* position: relative; */
    background-image: url("https://raw.githubusercontent.com/nomomo/Addostream/master/assets/logo_dostreamplus.png");
}
.nav-brand:focus, .nav-brand_mod:focus,
.nav-brand:active, .nav-brand_mod:active{
    border: none;
    text-decoration: none;
}
/* .nav-brand:before, .nav-brand_mod:before{
    content:'+';
    position: relative;
    top:10px;
    right:0;
    box-sizing: border-box;
    font-size:20px;
    font-weight: 400;
    font-family: sans-serif;
    display:inline;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    border: none;
    text-decoration: none;
}
.onstream .nav-brand:before, .onstream .nav-brand_mod:before{
    top:1px;
} */

.nav-brand:hover,
.nav-brand:visited,
.nav-brand:active,
.nav-brand_mod:hover,
.nav-brand_mod:visited,
.nav-brand_mod:active {
    text-decoration: none;
    color: #fff;
}

.onstream .AD_title {
    height: 45px;
    padding: 7px 0
}

.AD_title {
    position: absolute;
    top: 0;
    right: 10px;
    height: 63px;
    padding: 16px 0;
    font-size: 11px;
    color: #999;
    z-index: 1500;
    user-select: none;
}

.icon_star {
    position: absolute !important;
    top: 10px;
    right: 25px;
    z-index: 10;
}

.icon_pushpin {
    position: absolute !important;
    top: 10px;
    right: 10px;
    z-index: 50;
}

#ADD_config {
    cursor: pointer;
    padding-right: 10px;
}

#ADD_test_button {
    cursor: pointer;
    position: absolute;
    right: -100px;
}

#multitwitch {
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin: 0 5px 0 0;
    padding: 5px 10px;
    background: #eee;
    color: #222;
}

.stream-wrap>.info>.game {
    float: left;
    margin-left: 10px;
    /* color: #333 */
}

#popup_ADD_test {
    top: 50px;
    right: -90px;
}

#popup_ADD_config,
#popup_ADD_quick,
#popup_ADD_test {
    display: none;
    font-size: 12px;
    z-index: 10000;
    position: absolute;
    width: 502px;
}

#popup_ADD_config table td:nth-child(1) {
    width: 160px;
}

#popup_ADD_config table td:nth-child(2) {
    /*width:310px;*/
}

#popup_ADD_config {
    top: 50px;
    right: 10px;
}

#popup_ADD_config .input_text_by_tag {
    display: none;
}

#popup_ADD_config .no_border {
    border: none;
}

#ADD_change_multi,
#ADD_twip {
    opacity: 0;
    display: inline-block
}

/*{ display:none; }*/
/*.onstream #ADD_change_multi { opacity:1; display:inline-block !important;}*/
#ADD_quick_list {
    opacity: 0;
    display: inline-block
}

/*{ display:none; }*/
/*.onstream #ADD_quick_list { opacity:1; display:inline-block !important;}*/
#popup_ADD_quick .modal-body {
    padding: 10px;
    position: relative;
}

#popup_ADD_quick {
    top: 50px;
    right: 10px;
}

#popup_ADD_quick .quick_list_title {
    padding: 0 5px 2px 5px;
    margin-bottom: 0px;
    border-bottom: 2px solid rgb(221, 221, 221);
    font-weight: 700;
}

#popup_ADD_quick ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 11px;
}

#popup_ADD_quick li {
    border-bottom: 1px solid #eee;
    display: block;
}

#popup_ADD_quick a {
    padding: 5px 5px 5px 5px;
    display: block;
    color: #333;
    text-decoration: none;
}

#popup_ADD_quick li>a:hover {
    background-color: #d3d3d3;
}

#popup_ADD_quick img {
    float: left;
    display: block;
    width: 60px;
    height: 30px;
    vertical-align: middle;
    border: 0;
    margin-right: 10px;
}

#popup_ADD_quick .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 40px;
    color: #222
}

#popup_ADD_quick .info {}

#popup_ADD_quick .from {
    float: left;
    color: #666;
}

#popup_ADD_quick .viewers {
    text-align: right;
    color: #7d7d7b;
}

#popup_ADD_quick .ADD_checkbox {
    display: none;
}

#popup_ADD_quick .ADD_li_box {
    right: 45px;
    top: -27px;
    height: 10px;
    font-size: 10px;
}

#popup_ADD_quick .ADD_li_box .btn {
    font-size: 9px;
    padding: 1px 2px;
    letter-spacing: -0.5px;
    border: 0;
    opacity: 0.7;
    border-radius: 0px;
}

#popup_ADD_quick .icon_star {
    top: 7px;
    right: 15px;
    z-index: 10;
}

#popup_ADD_quick .icon_pushpin {
    top: 7px;
    right: 5px;
    z-index: 50;
}

#popup_ADD_quick .ADD_thumb_elem {
    left: 80px;
}

#popup_ADD_quick .ADD_thumb_elem {
    width: 290px;
    height: 163px !important;
}

#popup_ADD_quick .stream_list_scroll {
    overflow-y: auto;
    max-height: calc(100vh - 105px);
    scrollbar-width: thin;
}

.modal-content {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0 none;
}

.modal-content {
    opacity: 0.93
}

.modal-body {
    padding: 10px 10px 5px 10px;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 10px 15px;
    text-align: right;
}

#ADD_config_Success {
    font-size: 11px;
}

.btn {
    font-size: 12px;
}

.main-streams>ul>li>a {
    padding: 10px 5px 10px 15px !important;
}

.ADD_li_box_container {
    position: relative;
}

.ADD_li_box {
    position: absolute;
    top: -42px;
    right: 70px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    z-index: 5;
    margin: 0;
}

.ADD_li_box:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

#popup_ADD_quick .ADD_checkbox_container {
    display: none;
}

#popup_ADD_quick .multitwitch_button btn:hover {
    background: none;
}

.ADD_checkbox_container {
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
}

.ADD_checkbox {
    display: none;
    width: 15px;
    height: 15px;
    margin: 1px 2px 1px 0 !important;
    border: none !important;
}

.ADD_li_box .btn-default {
    color: #7d7d7d
}

.ADD_checkbox_container .btn span.glyphicon {
    opacity: 0.2;
}

.ADD_checkbox_container .btn.active span.glyphicon {
    opacity: 1;
    color: #9B59B6
}

.multitwitch_button {
    vertical-align: middle;
    display: inline-block;
}

/* background-color:#eee; padding:5px 8px; height:26px; */
.form_disabled {
    color: #888;
}

.form_enabled {
    color: #222;
}

#popup_ADD_config table td {
    height: 26px;
    line-height: 1.5;
    font-size: 11px;
    padding: 2px 5px 2px 10px;
    vertical-align: middle;
    /* border-top-color: #e5e5e5; */
}

#popup_ADD_config table td label {
    vertical-align: middle;
}

#popup_ADD_config table td input[type="text"] {
    font-size: 11px;
}

#popup_ADD_config table td input[type="checkbox"] {
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
}

#popup_ADD_config table td input[type="radio"] {
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
}

#popup_ADD_config table td .tooltip_container {
    float: right;
}

.btn-success {
    margin-right: 10px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    cursor: Default;
    margin-right: 10px;
}

.confirm_selection {
    animation: glow .5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px white;
        box-shadow: 0 0 10px #5cb85c;
    }
}

.multitwitch_ready {
    animation: glow2 0.5s 4 alternate;
}

@keyframes glow2 {
    to {
        text-shadow: 0 0 10px white;
        box-shadow: 0 0 10px #6441A4;
    }
}

.fixed_streamer {
    /* background-color: #f5f5f5; */
}

.td_strong {
    font-weight: 700;
}

#ADD_blocked_text,
#ADD_blocked_text table {
    font-size: 12px;
}

#history_elem {
    color: #666;
    position: relative;
    top: 0px;
    left: 0px;
    height: 63px;
    padding-top: 5px;
    text-align: left;
    margin-right: 170px;
    vertical-align: middle;
    z-index: 800;
}

.onstream #history_elem {
    height: 45px;
}

#history_elem:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

/* .h_container:before {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 1) 40px);
    width: 50px;
    height: 57px;
    pointer-events: none;
    margin: 3px 0;
} */

.onstream .h_container:before {
    height: 39px;
}

#history_elem a {
    /* color: #555; */
    color: unset;
    font-size: 12px;
    height: 20px;
    display: inline-block;
    text-transform: capitalize
}

#history_elem a:hover {
    /* color: #000; */
}

#history_elem .h_text_container {
    display: inline-block
}

#history_elem .h_container {
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#history_elem .h_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px 4px 5px 0px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    vertical-align: middle;
    user-select: none;
}

#history_elem .h_twitch {
    background-image: url("https://raw.githubusercontent.com/nomomo/Addostream/master/assets/icon_twitch.png");
}

#history_elem .h_afreeca {
    background-image: url("https://raw.githubusercontent.com/nomomo/Addostream/master/assets/icon_aftv.png");
}

#history_elem .h_youtube {
    background-image: url("https://raw.githubusercontent.com/nomomo/Addostream/master/assets/icon_youtube.png");
}

#history_elem .h_kakao {
    background-image: url("https://raw.githubusercontent.com/nomomo/Addostream/master/assets/icon_kakao.png");
}

#history_elem .h_okru {
    background-image: url("https://raw.githubusercontent.com/nomomo/Addostream/master/assets/icon_okru.png");
}

#history_elem.twip_margin,
#history_elem.toonat_margin {
    margin-right: 221px;
}

#history_elem.twip_margin.toonat_margin {
    margin-right: 272px;
}

#notice_text_elem {
    display: none;
    font-size: 10px;
    color: #666;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 63px;
    text-align: left;
    padding-right: 170px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1000;
    background: white;
    white-space: nowrap;
}

.onstream #notice_text_elem {
    height: 45px;
}

#notice_text_elem:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    background: white;
}

#notice_text,
#notice_text2 {
    display: inline-block;
    vertical-align: middle;
    line-height: 150%;
}

#at {
    cursor: pointer;
    display: inline-block;
    margin: 4px 2px 0 2px;
    height: 24px;
    animation-name: at_spin;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes at_spin {
    0% {
        transform: rotate(0)
    }

    25% {
        transform: rotate(90deg);
        text-shadow: 0 0 3px #F0F8FF
    }

    50% {
        transform: rotate(180deg);
        text-shadow: 0 0 8px #B0E0E6
    }

    100% {
        transform: rotate(359deg)
    }
}

.ADD_under_dev {
    display: none;
}

.lightbox-opened img {
    max-width: 100%;
    box-shadow: 0 0 6px 3px #333;
    opacity: 1.0;
    margin-top: 40px;
}

.lightbox-opened img.chat_image,
.lightbox-opened video.chat_image {
    display: block;
    max-width: 100%;
    box-shadow: 0 0 6px 3px #333;
    opacity: 1.0;
    margin: 40px auto 0px auto;
}

.lightbox-opened {
    z-index: 100000;
    background-color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 24px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.lightbox-opened:before {
    background-color: rgba(51, 51, 51, 0.8);
    color: #eee;
    content: "x";
    font-family: sans-serif;
    padding: 6px 12px;
    position: fixed;
    text-transform: uppercase;
}

.no-scroll {
    overflow: hidden;
}

#ADD_send_location_container {
    position: absolute;
    bottom: 55px;
    right: 10px;
    z-index: 10;
    vertical-align: middle;
}

#ADD_send_location_notice {
    display: none;
    width: 60px;
    height: 24px;
    font-size: 10px;
    color: #333;
    background-color: #f5f5f5;
}

#ADD_send_location_button {
    width: 24px;
    height: 24px;
    font-size: 18px;
    cursor: pointer;
}

div.ADD_thumb_elem_container {
    position: relative;
    display: none;
}

#popup_ADD_quick .ADD_thumb_elem_container {
    position: inherit;
}

div.ADD_thumb_elem_container div.ADD_thumb_elem {
    position: absolute;
    top: 0px;
    left: 105px;
    z-index: 300;
}

div.ADD_thumb_elem_container img.ADD_thumb_img {
    z-index: 400;
}

div.ADD_thumb_elem_container div.ADD_thumb_size_0 {
    width: 240px;
    height: 180px;
}

div.ADD_thumb_elem_container div.ADD_thumb_size_1 {
    width: 20vw;
    height: calc(20vw / 16 * 9);
}

div.ADD_thumb_elem_container div.ADD_thumb_size_2 {
    width: 30vw;
    height: calc(30vw / 16 * 9);
}

div.ADD_thumb_elem_container div.ADD_thumb_size_3 {
    width: 40vw;
    height: calc(40vw / 16 * 9);
}

div.ADD_thumb_elem_container div.ADD_thumb_elem::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    animation: ADD_180_rotate 0.8s infinite linear;
    border: 8px solid #333;
    border-right-color: transparent;
    border-radius: 50%;
    z-index: -1;
}

.loader_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    margin: auto 0;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #666;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: ADD_180_rotate 0.8s cubic-bezier(0.4, 0, 1, 1) infinite;
}

@keyframes ADD_180_rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ADD_chat_again,
.ADD_twitch_api_again,
.ADD_twitch_api_again_with_chat {
    cursor: pointer;
}

.modal-body tbody tr:hover {
    background-color: #E6E6E6;
}

.lightbox-opened-white-background {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    padding: 15px;
    font-size: 12px
}

.modal-body tbody .btn-xxs {
    padding: 1px 2px;
    font-size: 9px;
    line-height: 1.0;
    border-radius: 3px;
    margin: 0 2px 2px 0;
    cursor: pointer;
}

.modal-body tbody .btn-xxs .glyphicon {}

.modal-body tbody .btn-xxs span.glyphicon {
    opacity: 0.2;
}

.modal-body tbody .btn-xxs.active span.glyphicon {
    opacity: 1;
}

.modal-body tbody .btn-xxs.disable {
    opacity: 0.3;
    cursor: not-allowed;
}

#popup_ADD_config .modal-body tbody input[type="checkbox"] {
    display: none;
}

#new_version_available_text a {
    color: #E3242B
}

.chat-btns{
    background-color: #446cb3;
}
#btnOpenHrm_ADD {
    transition: background-color 0s;
    margin-left: -80px;
    margin-top: 22.5px;
    height: 22.5px;
}

#hrm_layout {
    display: none;
    z-index: 1001;
    position: absolute;
    top: 45px;
    /*bottom: 50%;*/
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: 1px solid #bdc3c7;
}
.leftchat #hrm_layout {
    border-left: none;
    border-right: 1px solid #bdc3c7;
}

#hrm_layout ul {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
}

#hrm_layout li {
    /* color: #000; */
    padding: 3px 5px;
    word-break: break-all;
    font-size: 12px;
}

#hrm_layout .ch_text {
    font-weight:700;
    vertical-align:top;
}

#hrm_layout a:visited {
    color: #660099;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group,
.btn-group-vertical .btn+.btn,
.btn-group-vertical .btn+.btn-group,
.btn-group-vertical .btn-group+.btn,
.btn-group-vertical .btn-group+.btn-group {
    margin-left: -1px;
}

.btn-group-vertical>.btn:hover,
.btn-group>.btn:hover {
    z-index: 1;
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

#stream .main-streams>ul.main_list_two_column>li {
    display: inline-block;
    width: calc(50% - 5px);
    float: left;
    padding: 0;
    box-sizing: border-box;
}

#stream .main-streams>ul.main_list_two_column>li:nth-child(odd) {
    margin: 0 10px 0 0;
}

#memo_contents td,
#memo_contents th {
    padding: 2px 5px !important;
}

#memo_contents th {
    white-space: nowrap;
}

/* left chatwrap*/
body.leftchat div.chat {
    right: unset;
    left: 0;
}

body.leftchat div.wrap {
    margin-right: unset;
    margin-left: 345px;
}

body.leftchat div.wrap.wide {
    margin: 0;
}

body.leftchat .chat.closed button.chat-close {
    right: unset;
    left: 0;
}

body.leftchat .chat-btns button.chat-close {
    float: left;
}

body.leftchat .stream_zoomout {
    left: unset !important;
    right: 30px;
}

body.leftchat .wrap, body.leftchat .chat-ignore, body.leftchat .chat-container {
    /* border-left:none !important; */
    /* border-right:1px solid #d3d3d3; */
}

/* playing_chat_iframe */
body:not(.leftchat) .stream_chat {
    left: 0;
}

body.leftchat .stream_chat {
    right: 0;
}

/* body:not(.leftchat) #stream.onstream {
    text-align: right;
} */

body.leftchat #stream.onstream {
    text-align: left;
}

.stream_zoomout .stream_chat {
    display: none !important;
}

.stream_zoomout>iframe {
    width: 100% !important;
}

body.night_mode_transition,
body.night_mode_transition * {
    -webkit-transition: background-image 1s, background 1s, background-color 1s, border-color 1s, color 1s ease-out !important;
    transition: background-image 1s, background 1s, background-color 1s, border-color 1s, color 1s ease-out !important;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

#m3u8video {
    outline: none !important;
    border: none !important;
}