body{
    --main-background-color:#2f3136;
    --main-border-color:#2f3136;
    --main-font-color:#dcddde;

    --drag-font-color:#202225;
    --drag-background:#ccc;

    --link-font-color:#4d76da;
    --link-visited-font-color:#666;

    --bs-button-background:#202225;
    --bs-button-border-color:#333;
    --bs-button-font-color:#393c43;
    --bs-button-hover-background:#393c43;
    --bs-button-hover-border-color:#444;
    --bs-button-hover-font-color:#888;

    --tagit-label-background:#202225;
    --tagit-label-font-color:#aaa;
    --tagit-label-border-color:#202225;

    --tooltip-background:rgba(38,38,38,.9);
    --tooltip-font-color:#aaa;
    --tooltip-arrow-right:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2838,%2038,%2038,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
    --tooltip-arrow-left:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2838,%2038,%2038,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
    --tooltip-arrow-bottom:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2838,%2038,%2038,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;
    --tooltip-arrow-top:url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2838,%2038,%2038,%200.9%29%22%20transform%3D%22rotate%280%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E) no-repeat;

    --main-list-font-color:#aaa;
    --main-list-line-color:#202225;
    --main-list-top-button-font-color:#aaa;
    --main-list-top-button-background:#2f3136;
    --main-list-top-button-multi-background:#202225;
    
    --main-list-fixed-streamer-background:#202225;

    --main-list-flatform-font-color:#aaa;
    --main-list-viewer-font-color:#aaa;
    --main-list-viewer-twitch-background:#2f3136;
    --main-list-viewer-afreeca-background:#2f3136;
    --main-list-viewer-kakao-background:#2f3136;
    --main-list-viewer-daumpot-background:#2f3136;
    --main-list-viewer-youtube-background:#2f3136;

    --main-list-background:#32353b;

    --main-list-hover-background:#36393f;
    
    --logo-image:url("https://raw.githubusercontent.com/nomomo/Addostream/master/assets/logo_dostreamplus_blacktheme.png");
    
    --modal-content-shadow:0 3px 9px rgba(205,205,205,.25);

    --history-font-color:#999;
    --history-gradient:unset;

    --hrm-doe-font-color:#3498db;

    --chat-nick-color:#ccc;
    --chat-content-color:#ccc;
    --chat-image-container-background-color:#222;
    --chat-image-container-color:#ccc;
    --chat-input-color:#ccc;

    --chat-more-color:#fff;
    --chat-more-background:rgba(0,0,0,.75);
    --chat-myLine-nick-color:#3498db;
    --chat-myLine-color:#fff;
    --chat-myLine-font-weight:bold;

    --scroll-bar-color:#202225;
    --scroll-bar-thumb-color:#2f3136;

    --chat-type_and_go-color: inherit;
    --chat-type_and_go-opacity: 0.1;
    --chat-type_and_go-focus-color: inherit;
    --chat-type_and_go-focus-opacity: 0.6;
}

body header {
    background:#202225;
}

body .chat-btns button,
body .chat-btns button.btn-blue,
body .chat-btns button.btn-blue:hover,
body .chat-btns button.btn-blue:focus,
body .chat-btns button.btn-blue:active {
    color: var(--main-font-color) !important;
    border-color: #202225 !important;

    border-radius: 10px;
    background: #202225 !important;
    margin: 5px;
    height: 35px;
}


body header,
body .nav-brand_mod,
body #notice_text_elem,
body #history_elem,
body .AD_title,
body #popup_ADD_quick,
body #popup_ADD_test,
body #popup_ADD_config{
    height:45px;
}

body .AD_title {
    padding:7px 0;
}

body #uha_chat {
    background:#36393f;
}